html {
  background-color: #556;
  font-family: Arial,Helvetica,sans-serif;
  height: 100%;
}

body {
  background-image: linear-gradient(30deg,#445 12%,transparent 12.5%,transparent 87%,#445 87.5%,#445),
	linear-gradient(150deg,#445 12%,transparent 12.5%,transparent 87%,#445 87.5%,#445),
	linear-gradient(30deg,#445 12%,transparent 12.5%,transparent 87%,#445 87.5%,#445),
	linear-gradient(150deg,#445 12%,transparent 12.5%,transparent 87%,#445 87.5%,#445),
	linear-gradient(60deg,#99a 25%,transparent 25.5%,transparent 75%,#99a 75%,#99a),
	linear-gradient(60deg,#99a 25%,transparent 25.5%,transparent 75%,#99a 75%,#99a);
  background-size: 80px 140px;
  background-position: 0 0,0 0,40px 70px,40px 70px,0 0,40px 70px;
  margin: 0;
}

.content {
  background: rgba(255,255,255,0.8);
	padding: 20px;
  margin: 0;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
	margin: auto;
}

.flex-top {
  flex: 1;
	flex-basis: 100%;
  z-index: 3;
}

.flex-mid {
	flex: 2;
  z-index: 3;
}

.flex-bot {
	flex: 3;
	flex-basis: 100%;
  z-index: 3;
}

a:link, a:visited, a:active, a:hover {
  color: #194d33;
  text-decoration: none;
  font-weight: bold;
}

.interface-btns {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

button {
  background-color: #339966;
	border: none;
  box-shadow: 0 6px #194d33;
	color: white;
	margin: 4px;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
  background-color: #26734d;
}

button:active {
  box-shadow: 0 2px #194d33;
  transform: translateY(4px);
}

*:focus {
	outline: none;
}

.debug {
  background-color: #556;
	color: white;
	padding: 2px 4px 0 4px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.debug:hover {
  background-color: #464653;
	cursor: pointer;
}

.debug-console {
  background: rgba(10,10,10,0.9);
	color: white;
	display: none;
  font-size: 12px;
  height: 200px;
	padding: 4px;
	position: fixed;
	right: 0;
	top: 0;
	width: 500px;
  z-index: 1;
}

.debug-console p {
  display: inline;
}

.debug-console li, .debug-console ul {
    list-style: none;
}

#footer {
  background: #556;
  bottom: 0;
  left: 0;
  margin-top: auto;
  width: 100%;
  z-index: 1;
}

.footer {
  color: #ccc;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  order: 4;
  position: relative;
  -moz-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}

.copyright {
  align-self: flex-end;
  display: flex;
  margin-left: auto;
}

.copyright p {
  margin-left: 8px;
}

.footer-label p {
  margin: 10px 0 10px 10px;
}

.footer-icon {
  display: flex;
  height: 16px;
  margin: 10px 0 10px 10px;
}

.copyright-icon {
  margin-top: 10px;
  font-weight: 700;
}

.copyright-icon .material-icons {
  color: #ccc;
  font-size: 14px;
}

.copyright-label {
  margin-right: 10px;
  margin-top: 10px;
}

@media screen and (min-width: 639px) {
	.flexbox {
		height: 600px;
		width: 600px;
	}

	button {
    height: 192px;
		width: 192px;
	}

	button .material-icons {
		font-size: 80px;
	}
}

@media screen and (max-width: 639px) {
	.flexbox {
		height: 270px;
		width: 270px;
	}

	button {
		height: 82px;
		width: 82px;
	}

	button .material-icons {
		font-size: 40px;
	}
}
